services:
  wallapop:
    container_name: wallapop-notifier
    build:
      # context: https://github.com/polaupa/wallapop-notifier.git
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - DATABASE_HOST=db
    volumes:
      - .:/app
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - db
    restart: unless-stopped
  db:
    image: mariadb:latest
    container_name: wallapop-db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wallapop
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
    # ports: # Only enable if we need to access this data outside the docker network
    #   - "3306:3306" # Only enable if we need to access this data outside the docker network
    networks:
      - db
      - dbgate_network
    restart: unless-stopped
  chatbot-telegram:
    container_name: chatbot-telegram
    build:
      context: ./telegram_chatbot
      dockerfile: Dockerfile
    env_file:
      - .env    
    volumes:
      - ./telegram_chatbot:/app
    restart: always
volumes:
  db_data:
    name: wallapop-db-data
networks:
  db:
  dbgate_network:
    external: true # Use existing dbgate_network created for jobseek -> Remove this line if you want to create a new network and it doesn't work
